<p>editor works!</p>

<button id = "leer" (click) = geterrores()> Leer </button>
<button id = "lee2r" (click) = posttexto()> AST </button>
<div class="form-floating">
    <textarea id = "area_texto" class="form-control" valor = this.value placeholder="Leave a comment here" ></textarea>
    <label for="floatingTextarea">Comments</label>
</div>

<div class="form-floating">
    <textarea id = "area_texto2" class="form-control" valor = this.value placeholder="Leave a comment here" ></textarea>
    <label for="floatingTextarea">Comments</label>
</div>